doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        
        title Team Pomodoro
        
        // Bootstrap
        // Latest compiled and minified CSS
        //link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')

        link(rel="stylesheet" href="./flexboxgrid.css" type="text/css")
        link(href='https://fonts.googleapis.com/css?family=Sanchez',rel='stylesheet',type='text/css')

        style.
            body,p,h1,h2,h3,h4,h4, .form-control {
                font-family: 'Sanchez';
            }  

            .form-control {
                border: 1px solid #aaa;
                border-radius: 5px;
                width: 80%;
            }  

            h3, .form-control {
                font-size: 30px;
                margin: 1em 0;
            } 

            .text-center {
                text-align: center;
            }   


        
        // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
        // WARNING: Respond.js doesn't work if you view the page via file://
        //if lt IE 9
          script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
          script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    body
        .container-fluid
            .row.middle-xs.center-xs.around-xs(style="min-height:95vh")
                .col-xs
                    .box.text-center
                        img(src='./tomato-active.svg',width='100pt').img-responsive
                        h3 David&nbsp;
                            a(href="#") &times;

                .col-xs
                    .box.text-center
                        img(src='./tomato-inactive.svg',width='100pt').img-responsive
                        h3 Sophia

                .col-xs
                    .box.text-center
                        img(src='./tomato-inactive.svg',width='100pt').img-responsive
                        h3 Chris

                .col-xs
                    .box.text-center
                        img(src='./tomato-new.svg',width='100pt').img-responsive
                        form
                            input(type='text',placholder='e.g. Joe').form-control.text-center

    
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')

